<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Servizi</h2>
                    <h3 class="section-subheading text-muted">I nostri servizi</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-ambulance fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Comunicazione e Domotica per il controllo ambientale</h4>
                    <p>L’attività è rivolta a persone con limitazione di varia entità sia a livello motorio, sia a livello sensoriale che cognitivo, alle loro famiglie, agli operatori della riabilitazione, della scuola e del sociale.L’intervento è mirato alla proposta di ausili tecnologici, sistemi di automazione e di controllo ambientale  nell’ambito domestico, sociale, scolastico, ricreativo e lavorativo.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wheelchair fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Progettazione Accessibile</h4>
                    <p class="text-muted">Lo studio, la progettazione e adattamento di spazi destinati a strutture riabilitative, palestre, comunità residenziali, studi fisiokinesiterapici, reparti specialistici, terapie occupazionali, case di riposo e di cura professionali e private, per offrire uno strumento efficiente per orientarsi nel mercato dei prodotti e trovare specifiche soluzioni per ogni esigenza.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-hospital-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Strutture riabilitative</h4>
                    <p class="text-muted">L’Ergonomica si occupa dello studio, la progettazione e adattamento di spazi destinati a strutture riabilitative, palestre, comunità residenziali, studi fisiokinesiterapici, reparti specialistici, terapie occupazionali, case di riposo e di cura professionali e private, per offrire uno strumento efficiente per orientarsi nel mercato dei prodotti e trovare specifiche soluzioni per ogni esigenza.</p>
                </div>
            </div>
        </div>
    </section>